// Home Content

.home {
  max-width: 100%;
  .intro {
  
    img {
      width:100%;
      border-radius: 10px;
    }
    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    .displayFlex();
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 2rem 0;

    @media @phone {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .display {
      
      @media @phone{
        display: none;
        
      }
    }

    img {
      flex-basis:25%;
      width:100%;
      border-radius: 20px;
      // height: 100%;
      
      @media @phone {
        width:75%;
      }
    }
  }

  .visit-planets {
    padding: 2rem;
    
    @media @phone {
      .displayFlex();
      flex-direction: column;
      // align-items: center;
    }
    h3 {
      margin-top: 11px;

    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 2rem;
    .displayFlex();
    justify-content: space-around;
  
      @media @phone {
        flex-flow:row wrap;
        flex-direction: column-reverse;
        // justify-content:space-around;
        
    }
    .walk-text {
      flex-basis: 48%;


      @media @phone {
        flex-basis: 100%;
      }
      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .custom-btn(#22283A, 120px,white);
        &:hover {
          background-color: white;
          color:#22283A;
        }
        @media @phone {
          width:100%;
        }
      }
    }

    .walk-img {
      flex-basis:40%;
      // margin-left: 4%;
      
      @media @phone {
        margin-bottom: 2rem;
        width: 100%;

      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home