.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding: 1%;
}
.navBar nav {
  justify-content: space-between;
}
.navBar nav h1 {
  font-size: 3.5rem;
  margin-bottom: 2%;
  text-align: center;
}
.navBar nav a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  color: black;
}
